apiVersion: v1
kind: Service
metadata:
  name: customer-service
  namespace: workshop
spec:
  selector:
    app: web
  ports:
    - protocol: TCP
      port: 4000
      targetPort: 4000
  type: ClusterIP
